.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input[type="text"] {
  margin-right: 10px;
}